$primary: #4338ca;
$secondary: #7b35a3;
$third: #457760;
$accent: #1FB2A5;
$neutral: #6b7280;
$base-100: #1f2937;
$info: #3ABFF8;
$success: #36D399;
$warning: #FBBD23;
$error: #ef4444;

@import './styles/normalize';
@import './styles/general';
@import './styles/header';
@import './styles/roomSelect';
@import './styles/superadminLogin';
@import './styles/userView';
@import './styles/adminView';

